.menu__item {
    height: 50px;
    cursor: pointer;
    display: flex;
    list-style: none;
    margin: 0 0 10px;
    align-items: center;
    transition: 0.2s;

    &:last-of-type {
        margin: 0;
    }

    &:hover {
        transition: 0.2s;
        background-color: $blue;
        border-left-color: $blue;

        &::after {
            position: absolute;
            content: "";
            left: 5px;
            border-top: 8px solid transparent;
            border-left: 6px solid;
            border-left-color: inherit;
            border-bottom: 8px solid transparent;
        }
    }
}
