@import "../vendor/normalize.css";
.page {
  background-color: #090e24;
  transition: 0.3s;
  min-height: 100vh;
}

.page__light {
  background-color: #fff;
  transition: 0.3s;
}

.section {
  margin-right: 20px;
  margin-bottom: 50px;
}

.header {
  background-color: #090e24;
  display: flex;
  height: 50px;
  width: 100%;
  margin-bottom: 15px;
  position: fixed;
}

.header__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c1002a;
  width: 55px;
  cursor: pointer;
}

.header__logo {
  max-width: 50%;
}

.header__title-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  justify-content: center;
}

.header__title {
  margin: 0;
  color: #fff;
  font-family: system-ui;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}

.header__description {
  margin: 0;
  color: #fff;
  font-family: system-ui;
  text-transform: uppercase;
  font-size: 20px;
}

.content {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  padding-top: 70px;
  min-height: calc(100vh - 70px);
}

.content__disabled {
  display: none !important;
}

.section-heading {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #090e24;
  margin-bottom: 20px;
}

.section-heading__title {
  margin: 0;
  color: #fff;
  font-family: system-ui;
  text-transform: uppercase;
  font-size: 20px;
  margin-left: 20px;
}

.section-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 1px solid #c1002a;
  padding: 50px 20px;
  gap: 20px;
}

.section-content__card {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.25);
}

.section-content__card__title {
  margin: 0;
  font-family: system-ui;
  font-size: 20px;
  color: #000;
  margin-bottom: 10px;
}

.section-content__card__num-wrapper {
  background-color: #c1002a;
  width: 40px;
  height: 40px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
}
.section-content__card__num-wrapper span {
  margin: 0;
  color: #fff;
  font-family: system-ui;
  font-size: 14px;
  font-size: 20px;
}

.section-content__card__description {
  margin: 0;
  font-family: system-ui;
  font-size: 16px;
  margin-bottom: 20px;
  color: #e48879;
}

.section-content__card__list {
  margin: 0;
  padding-left: 15px;
}

.section-content__card__list-item {
  margin: 0;
  font-family: system-ui;
  font-size: 16px;
  margin-bottom: 5px;
}
.section-content__card__list-item:last-of-type {
  margin-bottom: 0;
}

.sidebar {
  display: flex;
  background-color: #090e24;
  height: 100%;
  transition: 0.3s;
}

.menu {
  padding: 0;
  width: 100%;
  transition: 0.5s;
}
.menu .menu_disabled {
  transition: 0.5s;
}

.menu_disabled {
  transition: 0.2s;
}
.menu_disabled .menu__text {
  display: none;
}

.menu__item {
  height: 50px;
  cursor: pointer;
  display: flex;
  list-style: none;
  margin: 0 0 10px;
  align-items: center;
  transition: 0.2s;
}
.menu__item:last-of-type {
  margin: 0;
}
.menu__item:hover {
  transition: 0.2s;
  background-color: #101a46;
  border-left-color: #101a46;
}
.menu__item:hover::after {
  position: absolute;
  content: "";
  left: 5px;
  border-top: 8px solid transparent;
  border-left: 6px solid;
  border-left-color: inherit;
  border-bottom: 8px solid transparent;
}

.menu__item_active {
  border-left-color: #c1002a;
  background-color: #c1002a;
}
.menu__item_active::after {
  position: absolute;
  content: "";
  left: 5px;
  border-top: 8px solid transparent;
  border-left: 6px solid;
  border-left-color: inherit;
  border-bottom: 8px solid transparent;
}

.menu__num-wrapper {
  display: flex;
  margin-left: 5px;
  min-width: 50px;
  height: 100%;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}

.menu__num {
  margin: 0;
  color: #fff;
  font-family: system-ui;
  font-size: 14px;
  font-size: 22px;
  font-weight: 500;
  color: #090e24;
}

.menu__text-wrapper {
  margin-left: 10px;
  max-width: 230px;
}

.menu__text {
  margin: 0;
  color: #fff;
  font-family: system-ui;
  font-size: 14px;
  visibility: visible;
  opacity: 1;
  transform: scaleX(1);
}

.home-screen {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.home-screen__image {
  max-width: 100%;
  max-height: calc(100% - 65px);
}

.first-screen {
  display: flex;
  flex-direction: column;
}

.first-screen__image {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 50px;
}